/* style.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #e8f3ea;
    color: #333;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

body::-webkit-scrollbar {
    width: 0px;
    background: transparent;

}

header {
    background-color: #4d8a66;
    color: #fff;
    max-height: 5vh; /* Use vh instead of px for height */
    min-height: 5vh; /* Use vh instead of px for height */
    /* padding: 1vh 2vw; Adjust padding using viewport units */
    text-align: center;
    position: fixed;
    top: 0;
    width: 100vw; /* Ensure the header takes the full width of the viewport */
    z-index: 999;
}


nav {
    display: flex;
    position: relative;
    justify-content: flex-end;
    margin-top: 0.3%; /* Fixed size in px */
    margin-bottom: 0.3%; /* Fixed size in px */
    max-height: 4vh;
    min-height: 4vh;
    /* padding-bottom: 5px; */
    /* border: 1px solid red; */
}

nav a {
    color: #fff;
    text-decoration: none;
    position: relative;
    margin: 0 1%; /* Fixed margin */
    padding: 8px;
    font-size: 1.0rem; /* Fixed font size */
    max-height: 3vh;
    max-width: auto;
    line-height: 24px;
    /* border: 1px solid cyan; */
    /* margin-top: 3px; */
    /* margin-bottom: 3px; */
}


nav a:hover {
    background-color: #355e44;
    border-radius: 5px;
}

#container {
    max-width: 65vw;
    min-height: auto;
    margin: 0 auto;
    background-color: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    margin-top: 10vh; /* Adjust according to the height of the header */
    margin-bottom: 10vh;
    height: 100vh - 100px; /* Adjust container height according to viewport height and header/footer height */
    /* border: 1px solid red; */
}

#main_middle {
    max-width: 65vw;
    min-height: auto;
    margin: 0 auto;
    background-color: #fff;
    /* box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1); */
    height: 100vh - 80px; /* Adjust container height according to viewport height and header/footer height */
    /* border: 1px solid red; */
}


/* Add a bottom border to ul elements */
#projects ul {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px; /* Optional: Add some padding to space out the borders */
    margin-bottom: 20px; /* Optional: Add margin to space out the projects */
     /* Optional: Add margin to space out the projects */
}


#socials_wrapper {
    background-color: #e8f3ea;
    padding: 10px;
    /* margin-top: 10px; */
    /* border: 1px solid red; */
    text-align: center;

}

#socials {
    display: inline-block;
    /* border: 1px solid red; */
}

#socials a {
    color: #4d8a66;
    text-decoration: none;
    background-color: #e8f3ea;
    margin: 0 10px;
    padding: 10px;
    text-align: center;
    font-weight: bold ;
    width: 90%;
    
}

#main_middle {
    margin-top: 20px;
}

section {
    margin-bottom: 10px;
    border-bottom: 2px solid #4d8a66;
    padding-bottom: 10px;
}

h1,
h2,
h3,
h4 {
    color: #4d8a66;
    margin-bottom: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li::before {
    content: '\2022'; /* Unicode character for bullet (•) */
    color: #4d8a66; /* Bullet color */
    font-size: 1.2em; /* Adjust the font size if needed */
    margin-right: 8px; /* Adjust spacing between bullet and text */
}

/* Bold specific words in the Skills section */
#skills p {
    font-weight: normal; /* Reset font-weight for paragraph */
}

#skills p strong {
    font-weight: bold;
}

footer {
    background-color: #4d8a66;
    color: #fff;
    /* text-align: center; */
    /* padding: 1vh 2vw; */
    bottom: 0;
    width: 100vw;
    max-height: 5vh;
    min-height: 5vh;
    position: fixed;
    font-weight: bold;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footer p {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1rem;
    margin: 0;
    display: flex;
} */

footer a {
    color: #fff;
    text-decoration: none;
}


#socials a i {
    margin-right: 5px; /* Adjust the margin as needed */
}


#email-link {
    color: #FFF; /* Set the color to your desired value */
    text-decoration: none;
    font-weight: bold;
}

#email-link:hover {
    text-decoration: underline;
}

#project-img {
    width: 30px;
    height: 30px;
    display: inline;
    vertical-align: bottom;
    color: #4d8a66;
}

#egg-container {
    text-align: right;
    /* border: 1px solid red; */
    float: right;
}

#egg {
    width: 20px;
    height: auto;
    display: inline;
    /* border: 1px solid red; */
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); */

}


/* MOBILE VIEW */
@media only screen and (max-width: 768px) {
    header {
        /* padding: 5px 5px; Smaller padding for mobile */
        max-height: 5vh; /* Increase height for mobile */
        min-height: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav {
        display: flex;
        justify-content: center;
        /* border: 1px solid red; */
        padding-left: 2vw;
        padding-right: 2vw;
    }

    nav a {
        margin: 0px 0.5%; /* Add margin to separate the links */
        font-size: 0.8em; /* Adjust font size for mobile */
    }

    #container {
        max-width: 90vw; /* Make content take up more width on mobile */
        padding: 15px;
        margin-top: 8vh; /* Slightly larger top margin to account for header */
        margin-bottom: 8vh;
        height: auto; /* Allow height to adjust based on content */
    }

    #main_middle {
        max-width: 90vw; /* Make content take up more width on mobile */
        padding: 10px;
        height: auto; /* Allow height to adjust based on content */
        font-size: 0.8em; /* Adjust font size for mobile */
        /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1); */
    }

    h1, h2 {
        font-size: 1.2em; /* Adjust heading font size for mobile */
        margin-bottom: 10px;
    }

    h3, h4 {
        font-size: 1em; /* Adjust heading font size for mobile */
        margin-bottom: 8px;
    }

    #project-img {
        width: 20px; /* Adjust image size for mobile */
        height: 20px; /* Adjust image size for mobile */
    }

    #socials a {
        font-size: 0.8em; /* Adjust size for social links */
        padding: 5px 5px;
        display: inline;
    }

    footer {
        /* padding: 8px; */
        font-size: 0.8em;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        /* padding-right: 5vw; */
    }

    footer a {
        font-size: 1em; /* Adjust font size for mobile */
    
    }

    footer p {
        font-size: 1em; /* Adjust font size for mobile */
    }

    #projects ul {
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
}
