/* style.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #e8f3ea;
    color: #333;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

header {
    background-color: #4d8a66;
    color: #fff;
    max-height: 8vh; /* Adjust header height */
    padding: 10px;
    text-align: center;
    position: fixed; /* Fixed position to stick to the top */
    top: 0; /* Stick to the top */
    width: 100%; /* Ensure header stretches across the viewport */
    z-index: 999; /* Ensure header is above other content */
}

nav {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px;
}

nav a:hover {
    background-color: #355e44;
    border-radius: 5px;
}

#container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10vh; /* Adjust according to the height of the header */
    margin-bottom: 10vh;
    height: 100vh - 80px; /* Adjust container height according to viewport height and header/footer height */
}

/* Add a bottom border to ul elements */
#projects ul {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px; /* Optional: Add some padding to space out the borders */
    margin-bottom: 20px; /* Optional: Add margin to space out the projects */
     /* Optional: Add margin to space out the projects */
}


#socials_wrapper {
    background-color: #FFF;
    text-align: center;

}

/* #socials_wrapper h4 {
    text-align: center;
    margin-bottom: 3vh;

} */

#socials a {
    color: #4d8a66;
    text-decoration: none;
    background-color: #e8f3ea;
    margin: 0 10px;
    padding: 10px;
    text-align: center;
    font-weight: bold ;
    
}

#main_middle {
    margin-top: 20px;
}

section {
    margin-bottom: 30px;
    border-bottom: 2px solid #4d8a66;
    padding-bottom: 20px;
}

h1,
h2,
h3,
h4 {
    color: #4d8a66;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li::before {
    content: '\2022'; /* Unicode character for bullet (•) */
    color: #4d8a66; /* Bullet color */
    font-size: 1.2em; /* Adjust the font size if needed */
    margin-right: 8px; /* Adjust spacing between bullet and text */
}

/* Bold specific words in the Skills section */
#skills p {
    font-weight: normal; /* Reset font-weight for paragraph */
}

#skills p strong {
    font-weight: bold;
}

footer {
    background-color: #4d8a66;
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    position: fixed; /* Fixed position to stick to the bottom */
    font-weight: bold;
    z-index: 999; /* Ensure footer is above other content */

}

#email {
    text-align: center;
    margin-top: 20px;
}

#email a {
    color: #4d8a66;
    text-decoration: none;
    font-weight: bold;
}

#email-link {
    color: #FFF; /* Set the color to your desired value */
    text-decoration: none;
    font-weight: bold;
}

#email-link:hover {
    text-decoration: underline;
}
